/**
*	MKH Player css
*	Theme: default
*	Name: mkhplayer-theme-green
**/

.mkhplayer-theme-green .audioWrapper{
	background:#6cb375;
	position: relative;
	min-height: 36px;
	border-radius: 5px;
}
.mkhplayer-theme-green .functionControl,
.mkhplayer-theme-green .volumeControl{
	color:#fff;
	text-decoration: none;
	text-indent: -1000px;
	display: block;
	overflow: hidden;
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 7px;
	margin-left: 5px;
	background-image: url(controls.png);
	background-size: 80px 20px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mkhplayer-theme-green .playState{
	background-position: 0px 0px;
}
.mkhplayer-theme-green .pauseState{
	background-position: -20px 0px;
}
.mkhplayer-theme-green .loudState{
	background-position: -40px 0px;
}
.mkhplayer-theme-green .muteState{
	background-position: -60px 0px;
}
.mkhplayer-theme-green .volumeWrapper{
	float: right;
	min-height: 7px;
	min-width: 100px;
	background:rgba(0,0,0,.3);
	position: relative;
	margin-top: 1px;
	margin-right: 1px;
}

.mkhplayer-theme-green .currentTime,.durationTime{
	float: left;
	margin-top:6px;
	font-size:11px;
	margin-left: 10px;
	color: #fff;
}

.mkhplayer-theme-green .progressWrapper{
	position: relative;
	float: left;
	margin-left: 10px;
	min-height: 5px;
	top:14px;
	background:rgba(255,255,255,.4);
	z-index: 10;
	cursor: pointer;
}

.mkhplayer-theme-green .progressBar{
	position: absolute;
	min-height: 5px;
	width:0%;
	background:rgba(255,255,255,.8);
	cursor: pointer;
	z-index: 11;
}